<html>
<head>
<style>

  .bgimage {
  background-image: url("https://img.freepik.com/free-vector/vector-flat-cartoon-character-city-life-scene-young-man-goes-road-crosswalk-cars-are-passing-by-cityscape-background-web-online-banner-design-city-life-scene-social-story-concept_189557-1717.jpg?w=2000");
  background-color: #cccccc;
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


</style>
</head>
<body class="bgimage">
    
      <!-- Image and text -->
          <nav style="color: transparent;">
           <a class="navbar-brand" routerLink="Userlogin" style="color:#1976d2 ;">
             <img src="https://www.kindpng.com/picc/m/62-623413_double-double-decker-bus-png-transparent-png.png" width="70" height="" class="d-inline-block align-top" alt="BusLogo">
             BusReservationSystem
                 </a>
                 
                 <a class="btn btn-dark" routerLink="/" role="button" style="color:white ; position:relative ;left:49.5%; ">Home</a>
                 
                  <a class="btn btn-danger" routerLink="Adminlogin" role="button" style="color:white ; position:relative ;left:65%; ">AdminLogin</a>
                   <a class="btn btn-success" routerLink="Userlogin" role="button" style="color:white ; position:relative ;left: 50%;">UserLogin</a>
                   <a class="btn btn-warning" routerLink="Userregister" role="button" style="position:relative ;left:37%;">Register</a>
                   <a routerLink="Userlogin" style="color: black; position:relative ;left: 1%">Reserve Your Seats Now!!</a> 
                   

           </nav>
           <h1  style ="text-align:center">Welcome To Bus Reservation System</h1>
           
      
          
            <div>
            
            
           </div>





           <marquee behavior="scroll" direction="left" style="position:absolute ; top: 85%;">
            <img src="https://i.ibb.co/JRr7GLf/62-623413-double-double-decker-bus-png-transparent-png-removebg-preview.png" width="100" height="100" alt="Bus" style="border-top-left-radius: 10px; border-top-right-radius:10px;" />
            
          </marquee>
          
          <router-outlet></router-outlet>
</body> 
</html>

