&nbsp;
<h1 style="text-align:center ;">Admin Operations</h1>
<div style="position: absolute; left:500px;">
<a href="addbus" class="btn btn-secondary">Add Bus</a> &nbsp;
<a href="viewdeletebus" class="btn btn-secondary">view/delete Bus</a> &nbsp;
<a href="Booking" class="btn btn-secondary">Book ticket</a> &nbsp;
<a href="viewdeletticket" class="btn btn-secondary">view/cancel ticket</a>&nbsp;
<a href="cancelbyid" class="btn btn-secondary">Cancel ticket by Id ticket</a>
</div>
<router-outlet></router-outlet>

